extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Bicicletas
      button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu 
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/bicicletas') Mantenedor
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') About
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#contact') Contact
  // Masthead
  header.masthead.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      // Masthead Avatar Image
      img.masthead-avatar.mb-5(src='/images/avataaars.svg' alt='')
      // Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 Encuentra tu bicicleta más cercana
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.masthead-subheading.font-weight-light.mb-0 Bicicletas comunitarias - Libre uso

  // Map Section
  #mapid
  // About Section
  section#about.page-section.bg-primary.text-white.mb-0
    .container
      // About Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white About
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // About Section Content
      .row
        .col-lg-4.ml-auto
          p.lead
            | Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        .col-lg-4.mr-auto
          p.lead
            | You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
      // About Section Button
      .text-center.mt-4
        a.btn.btn-xl.btn-outline-light(href='https://startbootstrap.com/themes/freelancer/')
          i.fas.fa-download.mr-2
          |                     Free Download!
  // Contact Section
  section#contact.page-section
    .container
      // Contact Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Contact Section Form
      .row
        .col-lg-8.mx-auto
          // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
          form#contactForm(name='sentMessage' novalidate='novalidate')
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Name
                input#name.form-control(type='text' placeholder='Name' required='required' data-validation-required-message='Please enter your name.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Email Address
                input#email.form-control(type='email' placeholder='Email Address' required='required' data-validation-required-message='Please enter your email address.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Phone Number
                input#phone.form-control(type='tel' placeholder='Phone Number' required='required' data-validation-required-message='Please enter your phone number.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Message
                textarea#message.form-control(rows='5' placeholder='Message' required='required' data-validation-required-message='Please enter a message.')
                p.help-block.text-danger
            br
            #success
            .form-group
              button#sendMessageButton.btn.btn-primary.btn-xl(type='submit') Send
  // Footer
  footer.footer.text-center
    .container
      .row
        // Footer Location
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Location
          p.lead.mb-0
            | 2215 John Daniel Drive
            br
            |                         Clark, MO 65243
        // Footer Social Icons
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Around the Web
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-facebook-f
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-twitter
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-linkedin-in
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-dribbble
        // Footer About Text
        .col-lg-4
          h4.text-uppercase.mb-4 About Freelancer
          p.lead.mb-0
            | Freelance is a free to use, MIT licensed Bootstrap theme created by
            a(href='http://startbootstrap.com') Start Bootstrap
            |                         .
  // Copyright Section
  .copyright.py-4.text-center.text-white
    .container
      small Copyright &copy; Your Website 2020
  // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  .scroll-to-top.d-lg-none.position-fixed
    a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
      i.fa.fa-chevron-up
  // Portfolio Modals
  // Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal1Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal1Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='/images/portfolio/cabin.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                     Close Window
  // Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal2Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal2Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Tasty Cake
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='/images/portfolio/cake.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                     Close Window
  // Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal3Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal3Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Circus Tent
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='/images/portfolio/circus.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                     Close Window
  // Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal4Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal4Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='/images/portfolio/game.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                     Close Window
  // Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal5Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal5Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Locked Safe
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='/images/portfolio/safe.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                     Close Window
  // Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal6Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal6Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Submarine
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='/images/portfolio/submarine.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                     Close Window
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Contact form JS
  script(src='mail/jqBootstrapValidation.js')
  script(src='mail/contact_me.js')
  // Core theme JS
  script(src='javascripts/scripts.js')
  script(src='javascripts/map.js')
